<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autentificare</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
    <link href="{% static "login_style.css" %}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
</head>
<body>
{% csrf_token %}
{% block content %}
    <div class="container">

        <div class="left">
            <div class="titlu">
                <img src="{% static 'logo-01.png' %}" class="logo">
            </div>
        </div>

        <div class="right-container">
            <div class="right">
                <div class="titlu">
                    <h1>AUTENTIFICARE</h1>
                    {#                    <h3>-mesaj de intampinare-</h3>#}
                </div>
                {#                <form method="post">#}
                {#                    {{ form.as_p }}#}
                {#                    <button type="submit">Login</button>#}
                {#                </form>#}
                <form method="post">
                    {% csrf_token %}
                    <div class="icon">
                        <img src="{% static 'user-solid.svg' %} ">
                        <div class="pass-container">
                            {#                            <input type="text" name="Username" placeholder="Username">#}
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="icon">
                        <img src="{% static 'unlock-alt-solid.svg' %}">
                        <div class="pass-container">
                            {#                            <input type="text" name="Password" placeholder="Password">#}
                            {{ form.password }}
                             <a href="{% url 'show_landing_page' %}">Am uitat parola</a>
                        </div>
                    </div>

                    <div class="bottom">
                        <input type="submit" value="Autentificare">
                        <a href="{% url 'signup' %}">Creează cont</a>


                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}

</body>

</html>