<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <title>Profil FII</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "settings.css" %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Arvo|Inconsolata|Lato|Montserrat|Roboto|Roboto Condensed"
    rel="stylesheet">

  <style>
    :root {
      --background-first: #1b1353;
      --background-second: #000428;
      --navbar: #000000;
      --color1-first: #1fd191;
      --color1-second: #0086aa;
      --color2-first: #f64abd;
      --color2-second: #ad3abd;
      --font: #ffffff;
      --font-family: 'Roboto Condensed';
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="Logo.svg" alt="FiiStudent"></a>
      </div>
      <div class="collapse navbar-collapse navbar-right" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Acasa</a></li>
          <li><a href="#">Orar</a></li>
          <li><a href="#">Cursuri</a></li>
          <li><a href="#">Setari Cont</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Deconectare</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="main-container">
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    <hr>

    {% block content %}
    <form method="post">
      {% csrf_token %}

      <h4>Administrare</h4>


      <label>{{ form.email.label_tag}}</label>
      <input type="email" name="{{ form.email.html_name }}" maxlength="{{ form.email.max_length }}"
        class="form-control even" id="{{ form.email.id_for_label }}" value="{{ user.email }}">

      <label>Nume:</label>
      <input type="text" name="{{ form.first_name.html_name }}" maxlength="{{ form.first_name.max_length }}"
        class="form-control odd" id="{{ form.first_name.id_for_label }}" value="{{ user.first_name }}">

      <label>Prenume:</label>
      <input type="text" name="{{ form.last_name.html_name }}" maxlength="{{ form.last_name.max_length }}"
        class="form-control even" id="{{ form.last_name.id_for_label }}" value="{{ user.last_name }}">

      <hr>

      <label>An:</label>
      <select name="{{ form.an_studiu.html_name }}" class="form-control odd" id="{{ form.an_studiu.id_for_label }}">
        {% for opt1, opt in form.fields.an_studiu.choices %}
        <option value="{{ opt }}" {% if opt == user.an_studiu %}selected="selected" {% endif %}>
          {{ opt }}
        </option>
        {% endfor %}
      </select>

      <label>Grupă:</label>
      <select name="{{ form.grupa.html_name }}" class="form-control even" id="{{ form.grupa.id_for_label }}">
        {% for opt1, opt in form.fields.grupa.choices %}
        <option value="{{ opt }}" {% if opt == user.grupa %}selected="selected" {% endif %}>
          {{ opt }}
        </option>
        {% endfor %}
      </select>

      <label>Rol:</label>
      <select name="{{ form.rol.html_name }}" class="form-control odd" id="{{ form.rol.id_for_label }}">
        {% for opt1, opt in form.fields.rol.choices %}
        <option value="{{ opt }}" {% if opt == user.rol %}selected="selected" {% endif %}>
          {{ opt }}
        </option>
        {% endfor %}
      </select>

      <hr>

      <label>Personalizare:</label></br></br>
      <div class="rows">
        <div class="form-group">
          <label for="">Culoarea 1</label>
          <select onchange="updateColor('--color1-first', document.getElementById('id_color1_first').value);"
            name="color1_first" class="form-control" id="id_color1_first" value="{{ user.personalise.navbar_color }}">
            <option style="background-color: #1b1353;" value="#1b1353"></option>
            <option style="background-color: #aa076b;" value="#aa076b;"></option>

          </select>
        </div>

        <div class="form-group">
          <label for="">Culoarea 2</label>
          <select onchange="updateColor('--color1-second', document.getElementById('id_color1_second').value);"
            name="color1_second" class="form-control" id="id_color1_second" value="{{ user.personalise.navbar_color }}">
            <option style="background-color: #1b1353;" value="#1b1353"></option>
            <option style="background-color: #aa076b;" value="#aa076b;"></option>
          </select>
        </div>

        <div class="form-group">
          <label for="">Culoarea 3</label>
          <select onchange="updateColor('--color2-first', document.getElementById('id_color2_first').value);"
            name="color2_first" class="form-control" id="id_color2_first" value="{{ user.personalise.navbar_color }}">
            <option style="background-color: #1b1353;" value="#1b1353"></option>
            <option style="background-color: #aa076b;" value="#aa076b;"></option>
          </select>
        </div>

        <div class="form-group">
          <label for="">Culoarea 4</label>
          <select onchange="updateColor('--color2-second', document.getElementById('id_color2_second').value);"
            name="color2_second" class="form-control" id="id_color2_second" value="{{ user.personalise.navbar_color }}">
            <option style="background-color: #1b1353;" value="#1b1353"></option>
            <option style="background-color: #aa076b;" value="#aa076b;"></option>
          </select>
        </div>

        <div class="form-group">
          <label for="">Fundal 1</label>
          <select onchange="updateColor('--background-first', document.getElementById('id_background_first').value);"
            name="background_first" class="form-control" id="id_background_first"
            value="{{ user.personalise.navbar_color }}">
            <option style="background-color: #1b1353;" value="#1b1353"></option>
            <option style="background-color: #aa076b;" value="#aa076b;"></option>
          </select>
        </div>

        <div class="form-group">
          <label for="">Fundal 2</label>
          <select onchange="updateColor('--background-second', document.getElementById('id_background_second').value);"
            name="background_second" class="form-control" id="id_background_second"
            value="{{ user.personalise.navbar_color }}">
            <option style="background-color: #1b1353;" value="#1b1353"></option>
            <option style="background-color: #aa076b;" value="#aa076b;"></option>
          </select>
        </div>

        <div class="form-group">
          <label for="">Bara de navigare</label>
          <select onchange="updateColor('--navbar', document.getElementById('id_navbar').value);" name="navbar"
            class="form-control" id="id_navbar" value="{{ user.personalise.navbar_color }}">
            <option style="background-color: #1b1353;" value="#1b1353"></option>
            <option style="background-color: #aa076b;" value="#aa076b;"></option>
          </select>
        </div>

        <div class="form-group">
          <label for="">Font</label>
          <select onchange="updateColor('--font', document.getElementById('id_font').value);" name="font"
            class="form-control" id="id_font" value="{{ user.personalise.navbar_color }}">
            <option style="background-color: #1b1353;" value="#1b1353"></option>
            <option style="background-color: #aa076b;" value="#aa076b;"></option>
          </select>
        </div>

      </div>

      <div class="form-group">
        <label for="">Font</label>
        <select name="{{ form.font_family.html_name }}" class="form-control" id="{{ form.font_family.id_for_label }}"
          onchange="updateColor('--font-family', document.getElementById('id_font_family').value)">
          {% for opt1, opt in form.fields.font_family.choices %}
          <option value="{{ opt }}" {% if opt == user.personalise.font_family %}selected="selected" {% endif %}>
            {{ opt }}
          </option>
          {% endfor %}
        </select>
      </div>

      <button class="btn btn-primary buttons" type="submit">Salvează</button>
      <button class="btn btn-primary buttons" type="reset" onclick="resetProps(); this.blur();">Revenire</button>
    </form>
    {% endblock %}
    <hr>
    <div>
      <button type="button" class="btn btn-danger">Ștergere cont</button>
    </div>
    {% load static %}
    <script src="{% static "update_colors.js" %}"></script>

</body>

</html>
