*{
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #1b1354 ;
}

li{
 list-style: none;   
}

p{
    font-family: 'Open Sans', sans-serif;
}
.navbar-inverse{
    margin-bottom:0px;
    background-color: #030b3d;
    top:0;
    position:sticky;
}

.nav.navbar-nav li a {
    color: white;
}

.link{
    height:80px;
    width:45px;
}
.plus{
    height:45px;
    position:fixed;
    top:60px;
    right:10px;
    background-color:#1fd191;
    border-radius:50%;
    padding: 5px;
    transition: width 2s;
}

@keyframes show {
    from { width: 0px;  font-size:0px;   opacity:100%;}
    to { width: 160px;  font-size:20px;   opacity:0%;}
}

@keyframes button{
    from{border-radius:50%; height:45px;}
    to{border-radius:0%;height: 80px;}
}
@keyframes in{
    from{display:none; visibility: hidden;}
    to{display:none; visibility: hidden;}
}

.link:hover .plus{
    border-radius:0px;
    height:80px;
    animation:button;
    animation-duration:0.3s;
    top:60px;
}

.link:hover  .add_news{
    display: block;
    visibility: visible;
    padding:10px;
    text-decoration:none;
    
    color:white;
    size: 30px;
    font-size: 20px;
   
    background-color:#1fd191;
    
    position:fixed;
    top:60px;
    right:90px;
    height:80px;
    width: 160px;
    animation: in 0.3s, show 0.3s ease-out 0.3s;
    text-align: center;
}

.add_news{
    display: none;
    visibility: hidden;
}


/* butoane stanga de filtrare anunturi */
.meniu{
    width: 10%;
    height: 90vh;
    top: 50;
    position:fixed;

}

.navbar-brand img{
    position: absolute;
    top:-3px;
    height: 60px;

}

.butn{

    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 18px;

    background-color: #030b3d;
  
    border: none;
    outline: none;
    cursor: pointer;
    display: block;

    width: 100%;
    height: 26%;
    padding: 12px 16px;
}

.butn:hover {
    background-image: linear-gradient(to right,#f64abd , #ad3abd );
    color:white;
  }

.butn.active {
    background-image: linear-gradient(to right,#f64abd , #ad3abd );
    color:white;
  }

.container-main{
    margin: 0 auto;
    width: 100%;
    display: flex; 
    margin-bottom: 10px;
}

.board{
    margin: 0 auto;
    width: 60%;
}

.anunt-container{
    background-color: white;
    display: flex;
    margin-top:20px;
    margin-bottom: 30px;
    padding-right: 10px;
}

/* data si ziua anuntului */
.anunt-container:nth-child(even) .date{
    
    padding: 10px;
    background-image: linear-gradient(to right,#1fd191 , #0086aa);
    color: white;
   
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    flex-direction: column;
}

.anunt-container:nth-child(odd) .date{
    
    padding: 10px;
    background-image: linear-gradient(to right,#f64abd , #ad3abd );
    color: white;
   
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    flex-direction: column;
}

.date > p{
    text-align: center;
    font-family: 'Monsterat', sans-serif;
    font-weight: 500;
}


.day{
    font-family: 'Monsterat', sans-serif;
    font-weight: 300;
    font-size: 50px;
}

.anunt-container .anunt{
    width: 80%;
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 20px;

}

/* titlu anunt */
.anunt-container .anunt .top{
    background-color: white;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right,#1fd191 , #0086aa);
    border-image-slice: 1;
    padding: 5px 5px 15px 2px;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    color: #030b3d;
}

/* continutul anuntului */
.anunt-container .anunt .continut{
    height: 3.6em;
    line-height: 1.4em;
    overflow: hidden;
    background-color: white;
    padding-top: 10px;
    margin-bottom: 20px;
    
}

.anunt-container .anunt .continut p, .anunt-container .anunt .continut a, .anunt-container .anunt .continut strong, .anunt-container .anunt em{
    color: #444c72;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    
}

/* link pentru articolul complet */
.anunt-container:nth-child(even) .anunt > a:last-child{ 
    color: white;
    padding: 5px;
    background-image: linear-gradient(to right,#1fd191 , #0086aa);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    
}

.anunt-container:nth-child(odd) .anunt > a:last-child{ 
    color: white;
    padding: 5px;
    background-image: linear-gradient(to right,#f64abd , #ad3abd );
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    
}

/* responsive */

/* for toate anunturile si day font size */


/* filter repositioning */

@media screen and (max-width: 1300px) {
    .add_news{
        text-align: center;
        width:25%;
        margin:0px;
        text-decoration:none;
        color:white; 
        font-size: 15px;
        height: 50px;
        background-color: #0086aa;
    }
    .add_news:hover{
        text-align: center;
        width:25%;
        margin:0px;
        text-decoration:none;
        color:white; 
        font-size: 15px;
        height: 50px;
        background-color: #03acdb;
    }
   

    .day{
        font-family: 'Monsterat', sans-serif;
        font-weight: 300;
        font-size: 4vw;
    }

    .board{
        margin: 0;
        width: 100%;
    }
    .container-main{
        margin: 0 auto;
        width: 100%;
        display: flex; 
        flex-direction: column;
        margin-bottom: 10px;
    }

    .meniu{
        width: 100%;
        height: 50px;
        display: flex;
        margin-bottom: 10px;
        z-index:-100;
        position: sticky;
    
    }
    .butn{

        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        color: white;
        font-size: 15px;
    
        background-color: #030b3d;
      
        border: none;
        outline: none;
        cursor: pointer;
        display: block;
    
        width: 100%;
        height: 100%;
        padding: 5px 5px;
    }



    .plus{
        height:45px;
        position:fixed;
        top:115px;
        right:10px;
        background-color:#1fd191;
        border-radius:50%;
        padding: 5px;
        transition: width 2s;
    }

    .link:hover .plus{
        border-radius:0px;
        height:80px;
        animation:button;
        animation-duration:0.3s;
        top:115px;
    }
    
    .link:hover  .add_news{
        display: block;
        visibility: visible;
        padding:10px;
        text-decoration:none;
        
        color:white;
        size: 30px;
        font-size: 20px;
       
        background-color:#1fd191;
        
        position:fixed;
        top:115px;
        right:90px;
        height:80px;
        width: 160px;
        animation: in 0.3s, show 0.3s ease-out 0.3s;
        text-align: center;
    }
    

}

@media screen and (max-width: 800px){

    .butn{

        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        color: white;
        font-size: 10px;
    
        background-color: #030b3d;
      
        border: none;
        outline: none;
        cursor: pointer;
        display: block;
    
        width: 100%;
        height: 100%;
        padding: 5px 5px;
    }

}

@media screen and (max-width: 650px){

    .add_news{
        text-align: center;
        width:50%;
        margin:0px;
        text-decoration:none;
        color:white; 
        font-size: 15px;
        height: 50px;
        background-color: #0086aa;
    }
    .add_news:hover{
        text-align: center;
        width:50%;
        margin:0px;
        text-decoration:none;
        color:white; 
        font-size: 15px;
        height: 50px;
        background-color: #03acdb;
    }

    /* titlu anunt */
.anunt-container .anunt .top{
    background-color: white;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right,#1fd191 , #0086aa);
    border-image-slice: 1;
    /* padding: 5px 5px 15px 2px; */
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
    color: #030b3d;
}

/* continutul anuntului */
.anunt-container .anunt .continut{
    height: 1.6em;
    overflow: hidden;
    background-color: white;
    padding-top: 5px;
    margin-bottom: 10px;
    
}

.anunt-container .anunt .continut p, .anunt-container .anunt .continut a, .anunt-container .anunt .continut strong{
    color: #444c72;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
   
    
}

/* link pentru articolul complet */
.anunt-container:nth-child(even) .anunt > a:last-child{ 
    color: white;
    padding: 2px;
    background-image: linear-gradient(to right,#1fd191 , #0086aa);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 10px;
    
}

.anunt-container:nth-child(odd) .anunt > a:last-child{ 
    color: white;
    padding: 2px;
    background-image: linear-gradient(to right,#f64abd , #ad3abd );
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 10px;
    
}

.navbar-brand img{
    position: absolute;
    top:10px;
    height: 30px;

}


}
