:root{
    --background-first: #1b1353;
    --background-second: #000428;
    --navbar:#000000;
    --color1-first:#1fd191;
    --color1-second:#0086aa;
    --color2-first:#f64abd;
    --color2-second:#ad3abd;
    --font: #ffffff;
    --font-family: 'Arvo';
}
.navbar {
    background-color: var(--navbar);
}

body{
    background-image: radial-gradient(circle,var(--background-first),var(--background-second));
    color: var(--font);
    font-family: var(--font-family);
    display: grid;
    grid-template-columns: 10% auto 60%;
}

.main{
    margin-top: 60px;
    grid-column: 2/3;
    width: 100%;
}

h1{
    size: 30px;
}

label {
    padding-top:10px;
}

form{
     height: 90%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input[type=password] {
    width: 100%;
    border-style: none;
    height: 34px;
    background-image: linear-gradient(to right, var(--color1-first),var(--color1-second));
    margin: auto;
    padding: 10px;
    color: white;
}

button{
    background-color: #d9534f;
    border-color: #d43f3a;
    margin-top: 20px;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    width: 50%;
    height: 34px;
    border-radius: 5px;
}
button:hover{
    background-color:  #d43f3a;
    border-color: #d43f3a;
}

@media (max-width:800px){
 body{
     grid-template-columns: 10% auto 10%;
 }
}

