:root{
    --background-first: #1b1353;
    --background-second: #000428;
    --navbar:#000000;
    --color1-first:#1fd191;
    --color1-second:#0086aa;
    --color2-first:#f64abd;
    --color2-second:#ad3abd;
    --font: #ffffff;
    --font-family: 'Arvo';
}
.navbar {
    background-color: var(--navbar);
}

body{
    background-image: radial-gradient(circle,var(--background-first),var(--background-second));
    color: var(--font);
    font-family: var(--font-family);
    display: grid;
    grid-template-columns: 10% auto 60%;
}

.main{
    margin-top: 60px;
    grid-column: 2/3;
    width: 100%;
}

p{
    size: 30px;
}
