{% extends 'navbar.html' %}

{% block content %}
  <meta charset="utf-8">
  <title>Anunturi</title>
    {% load static %}
      <link href="{% static "anunturi-individual-style.css" %}" rel="stylesheet" type="text/css">
{#  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>#}
    <link href="https://fonts.googleapis.com/css?family=Arvo|Lato|Montserrat|Open+Sans|Roboto|Roboto+Condensed" rel="stylesheet">

 <style> :root{
    --background-first: {{user.personalise.background_first}};
    --background-second: {{user.personalise.background_second}};
    --navbar:{{ user.personalise.navbar_color }};
    --color1-first:{{ user.personalise.color1_first }};
    --color1-second:{{ user.personalise.color1_second }};
    --color2-first:{{ user.personalise.color2_first }};
    --color2-second:{{ user.personalise.color2_second }};
    --font: {{ user.personalise.font_color }};
    --font-family: {{ user.personalise.font_family }};
} </style>


<div class="container">
    <div class="board">
        <h1>{{ object.title }} </h1>
        <p> Materii-Ingineria Programarii</p>
        <div class="subtitle">
            <p><i>Autor...</i></p>
            <p>{{ object.published_time|date:"d M Y      h:m" }}</p>
        </div>

        <p class="content">{{ object.body|safe }}</p>
    </div>
    <a href="/news/" class="meniu">

            <img src="{% static "undo-solid.svg" %}">
            <p>Intoarcere la pagina cu anunturi!</p>


    </a>
</div>

{% endblock %}
