{% extends 'landing_page2.html' %}

{% block content %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Anunturi</title>
    {% load static %}
    <link href="{% static "anunturi-style.css" %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>


<div class="container">
    <div class="board">
        {% for obj in objects %}
            <div class="anunt-container {{ obj.source }}">
                <div class="date">
                    <p>{{ obj.published_time|date:'d M Y' }}</p>
                                        <p class="day"> {{ obj.published_time|date:'D' }}.</p>
                     <p>{{ obj.author_name}}</p>
                </div>
                <div class="anunt">
                    <p class="top">{{ obj.title }}</p>
                    <div class="continut">{{ obj.body|safe|striptags}}</div>
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="meniu">
        <div id="myBtnContainer">
            <button class="btn active" onclick="filterSelection('all')"> Toate anunturile</button>
            <button class="btn" onclick="filterSelection('UAIC')"> UAIC</button>
            <button class="btn" onclick="filterSelection('FII')"> FII</button>
            <button class="btn" onclick="filterSelection('ORAR')"> ORAR</button>
{#            <button class="btn" onclick="filterSelection('noutati')"> News</button>#}
        </div>
    </div>
</div>

<script>

    function filterSelection(nume) {
        var anunturi = document.getElementsByClassName("anunt-container");
        var first, second;
        if (nume == "all") {

            for (i = 0; i < anunturi.length; i++) {
                first = anunturi[i].className.split(" ");
                second = first[1];

                anunturi[i].style.visbility = "visible";
                anunturi[i].style.display = "flex";

            }
        } else {

            for (i = 0; i < anunturi.length; i++) {
                first = anunturi[i].className.split(" ");
                second = first[1];
                if (nume != second) {
                    anunturi[i].style.visbility = "none";
                    anunturi[i].style.display = "none";
                } else {
                    anunturi[i].style.visbility = "visible";
                    anunturi[i].style.display = "flex";
                }
            }
        }
    }


(function($){
        $(document).ready(function(){
            var btns = $('.continut');
           btns.each(function(index) {
                $(this).on("click", function(){
                    if($(this).css('overflow') == 'hidden'){
                        $(this).css({'overflow': 'unset', "height": "auto"});
                    } else {
                        $(this).css({'overflow': 'hidden', "height": "3.6em"});
                    }
                });
            });
        })
    })(jQuery);

</script>
{% endblock %}