<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Anunturi</title>
    {% load static %}
    <link href="{% static "anunturi-style.css" %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body>

<div class="container">
    <div class="board">
        {% for obj in objects %}
            <div class="anunt-container {{ obj.category }}">
                <div class="date">
                    <p>{{ obj.inserted_time|date:'d M Y' }}</p>
                                        <p class="day"> {{ obj.inserted_time|date:'D' }}.</p>
                </div>
                <div class="anunt">
                    <p class="top">{{ obj.title }}</p>
                    <div class="continut">{{ obj.body|safe|striptags|slice:":250" }}...</div>
                    <a class="more" href="/news/{{ obj.news_id }}">Deschide articolul complet!</a>
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="meniu">
        <div id="myBtnContainer">
            <button class="btn active" onclick="filterSelection('all')"> Toate anunturile</button>
            <button class="btn" onclick="filterSelection('materii')"> Materii</button>
            <button class="btn" onclick="filterSelection('profesori')"> Profesori</button>
            <button class="btn" onclick="filterSelection('secretariat')"> Secretariat</button>
            <button class="btn" onclick="filterSelection('noutati')"> News</button>
        </div>
    </div>
</div>
</body>

<script>

    function filterSelection(nume) {
        var anunturi = document.getElementsByClassName("anunt-container");
        var first, second;
        if (nume == "all") {

            for (i = 0; i < anunturi.length; i++) {
                first = anunturi[i].className.split(" ");
                second = first[1];

                anunturi[i].style.visbility = "visible";
                anunturi[i].style.display = "flex";

            }
        } else {

            for (i = 0; i < anunturi.length; i++) {
                first = anunturi[i].className.split(" ");
                second = first[1];
                if (nume != second) {
                    anunturi[i].style.visbility = "none";
                    anunturi[i].style.display = "none";
                } else {
                    anunturi[i].style.visbility = "visible";
                    anunturi[i].style.display = "flex";
                }
            }
        }
    }

</script>
</html>
