:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0px;
}

.resources-container {
    grid-area: r;
    margin: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    font-size: 12pt;
    background: var(--background-first);
}

.resources-list {
    display: flex;
    widows: 100%;
    list-style: none;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.resources-item {
    display: flex;
    height: 2em;
    width: 95%;
    padding: 0px;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    margin-top: 2px;
}

.resources-item:nth-child(odd) {
    background: linear-gradient(to right, var(--color1-first) 0%, var(--color1-second) 100%);
}

.resources-item:nth-child(even) {
    background: linear-gradient(to right, var(--color2-first) 0%, var(--color2-second) 100%);
}

.list-item-text {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--font);
    padding: 20px 0px;
    text-decoration: none;
}

.resources-item:hover>a {
    width: 100%;
    height: 100%;
    color: var(--background-first);
}