<!DOCTYPE html>
<html lang="en">

<head>

    {% load staticfiles %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resources</title>

    <link rel="stylesheet" type="text/css" href="{% static "resources.css" %}">

</head>

<body>
    <div class="resources-main-container">
        <div class="buttons-container">

            <button type="button" class="filter-btn show-all">Afișează tot</button>
            <button type="button" class="filter-btn filter1">filter1</button>
            <button type="button" class="filter-btn filter2">filter2</button>
            <button type="button" class="filter-btn filter3">filter3</button>
            <button type="button" class="filter-btn filter4">filter4</button>
        </div>

        <div class="resources-container">
            <ul class="resources-list">

                {% for obj in objects %}
        {% if obj.url %}
            <li data-type="filter1" class="resources-item" >
                <a href="{{obj.url}}" class="list-item-text">{{obj.title}}</a>

            </li>
        {% else %}
             <li data-type="filter2" class="resources-item" >
                <a href="/resources/{{obj.log_id}}" class="list-item-text">{{obj.title}}</a>

            </li>
        {% endif %}
    {% endfor %}


            </ul>
        </div>
    </div>
</body>
<script src="{% static "resources.js" %}"></script>

</html>