/*variables*/
:root{
	--Verde: #1fd191;
	--Green1: linear-gradient(90deg, #1fd191, #0086aa);
	--Purple: linear-gradient(90deg, #f64abd, #ad3abd);
	--Albastru-inchis: #1b1354;
}
/*html, body*/
html, body{
	width: 100%;
	height: 100%;
}
body{
	margin: 0 auto;
	background-color: var(--Albastru-inchis);
}
/*navbar*/
nav{
	background-color: #000428;
	text-align: center;
	line-height: 50px;
	color: #ffffff;
	width: 100%;
}
/*content*/
section{
	margin: 20px;
}
h1{
	margin: 30px 0px;
	text-align: center;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 42pt;
	font-weight: bold;  /* 700 */
}
/*form*/
#form{
	margin: 10px 0px;
}
#buttons{
	margin: 10px 0px;
	clear: both;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#selectTags{
	margin: 10px 0px;
	clear: both;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
select{
	margin: 5px;
	border-color: var(--Verde);
	border-radius: 5px;
	background-color: var(--Albastru-inchis);
	font-family: MontSerrat;
	font-size: 23pt;
	font-weight: 500; /* Medium */
	max-width: 20%;
	color: #ffffff;
}
button{
	margin: 5px;
	background-color: var(--Verde);
	border-style: none;
	border-radius: 5px;
	font-family: MontSerrat;
	font-size: 23pt;
	font-weight: 500; /* Medium */
	color: #ffffff;
}
button:hover{
	background-color: #1AB27B;
	cursor: pointer;
}
/*table*/
table{
	margin: 0px 50px;
	border-collapse: collapse;
}
thead{
}
.zi{
	font-family: "Open Sans";
	font-size: 30pt;
	font-weight: 600; /* Semibold */
	background-image: var(--Green1);
	color: #ffffff;
}
tbody tr:nth-child(odd):not(.zi){
	background-color: #ffffff;
}
tbody tr:nth-child(even):not(.zi){
	background-color: #f7f5f7;
}
tbody tr:not(.zi):hover{
	background-color: #DADADA;
}
thead th{
	border-style: none;
	border-radius: 5px 5px 0px 0px;
	padding: 0px 10px;
	text-align: center;
	font-family: MontSerrat;
	font-size: 32pt;
	font-weight: 500; /* Medium */
	background-image: var(--Purple);
	color: #ffffff;
}
tbody th{
	text-align: left;
	text-indent: 30px;
}
td{
	text-align: center;
	font-family: MontSerrat;
	font-size: 20pt;
	font-weight: 500; /* Medium */
	color: #000000;
}
td a{
	text-decoration: none;
	text-align: center;
	font-family: MontSerrat;
	font-size: 20pt;
	font-weight: 500; /* Medium */
	color: #000000;
}
td a:hover{
	color: #000000;
	text-decoration: underline;
}