{% extends 'navbar.html' %}
{% block content %}

<head>
    {% load static %}
  <title>Orar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'Orar.css' %}">
<link href="https://fonts.googleapis.com/css?family=Arvo|Lato|Montserrat|Open+Sans|Roboto|Roboto+Condensed" rel="stylesheet">

</head>

<body>

  <header>

  </header>

  <section>
  	<h1> {{titlu}} </h1>
    <article>

      <form action="https://profs.info.uaic.ro/~orar/" method="post">
        <select list="Materie" placeholder="Materie">
          <option value="Analiza bazelor mari de date">Analiza bazelor mari de date</option>
          <option value="Analiza retelelor media sociale">Analiza retelelor media sociale</option>
          <option value="Antreprenoriat si inovare in IT">Antreprenoriat si inovare in IT</option>
          <option value="Aplicatii ale prelucrarii limbajului natural">Aplicatii ale prelucrarii limbajului natural</option>
          <option value="Aspecte computationale in teoria numerelor">Aspecte computationale in teoria numerelor</option>
          <option value="Calcul numeric">Calcul numeric</option>
          <option value="Calitatea sistemelor software">Calitatea sistemelor software</option>
          <option value="Capitole speciale de invatare automata">Capitole speciale de invatare automata</option>
          <option> Cerc NLP </option>
          <option> Cerc stiintific </option>
          <option value="Cloud computing">Cloud computing</option>
          <option value="Cloud shape your idea by Amazon">Cloud shape your idea by Amazon</option>
          <option value="Data Mining">Data Mining</option>
          <option value="Didactica informaticii">Didactica informaticii</option>
          <option value="ECODAM">ECODAM</option>
          <option value="Etica si integritate academica">Etica si integritate academica</option>
          <option> FII Practic </option>
          <option value="Fundamente algebrice ale informaticii">Fundamente algebrice ale informaticii</option>
          <option value="Grafica pe calculator">Grafica pe calculator</option>
          <option value="Grupul de Realitate Augmentata">Grupul de Realitate Augmentata</option>
          <option value="Ingineria programarii">Ingineria programarii</option>
          <option> Interactiune om-calculator   Buraga Sabin Corneliu, Master ingineria sistemelor soft, Master optimizare computationala, anul 2 </option>
          <option value="Introducere in criptografie">Introducere in criptografie</option>
          <option value="Introducere in Lingvistica Computationala">Introducere in Lingvistica Computationala</option>
          <option> Investigarea criminalitatii informatice </option>
          <option value="Limba engleza II">Limba engleza II</option>
          <option value="Limba engleza IV">Limba engleza IV</option>
          <option> Limbaje de scripturi (pentru studentii umanisti)   Master lingvistica computationala, anul 1, Trandabat Diana </option>
          <option value="Logici de incredere in securitatea informatiei">Logici de incredere in securitatea informatiei</option>
          <option value="Managementul clasei de elevi">Managementul clasei de elevi</option>
          <option value="Managementul proiectelor">Managementul proiectelor</option>
          <option value="Metode bioinformatice in securitate">Metode bioinformatice in securitate</option>
          <option value="Metode de invatare aplicate limbajului natural">Metode de invatare aplicate limbajului natural</option>
          <option value="Metode inspirate din natura">Metode inspirate din natura</option>
          <option> Metodologii de lucru in mediul Open Source </option>
          <option value="Modelarea sistemelor distribuite">Modelarea sistemelor distribuite</option>
          <option value="Modele continue si Matlab">Modele continue si Matlab</option>
          <option value="Modele de securitate">Modele de securitate</option>
          <option> Pedagogie </option>
          <option> Practica pedagogica in invatamantul preuniversitar </option>
          <option value="Practica SGBD">Practica SGBD</option>
          <option value="Prelucrarea statistica a limbajului natural">Prelucrarea statistica a limbajului natural</option>
          <option value="Prelucrarea vorbirii si sisteme fuzzy">Prelucrarea vorbirii si sisteme fuzzy</option>
          <option value="Probabilitati si statistica">Probabilitati si statistica</option>
          <option value="Programare avansata">Programare avansata</option>
          <option value="Programare bazata pe reguli">Programare bazata pe reguli</option>
          <option value="Programare competitiva IV">Programare competitiva IV</option>
          <option value="Programare concurenta si distribuita">Programare concurenta si distribuita</option>
          <option value="Programare functionala">Programare functionala</option>
          <option> Programare MS-Office   Informatica, anul 3, Radulescu Vlad </option>
          <option> Programare orientata-obiect  Cursanti, anul 1, grupa 2, Cursanti, anul 1, grupa 3 </option>
          <option value="Proiectarea algoritmilor">Proiectarea algoritmilor</option>
          <option> Protocoale de securitate: modelare si verificare   Birjoveanu Catalin, Master sisteme distribuite </option>
          <option> Psihologia comunicarii profesionale in domeniul IT-lui   Armanu Nicoleta, Informatica, anul 3 </option>
          <option value="Retele Petri si aplicatii">Retele Petri si aplicatii</option>
          <option value="Securitatea comertului electronic">Securitatea comertului electronic</option>
          <option value="Securitatea retelelor de calculatoare">Securitatea retelelor de calculatoare</option>
          <option value="Sisteme bazate pe evenimente">Sisteme bazate pe evenimente</option>
          <option value="Sisteme de operare">Sisteme de operare</option>
          <option> Smart Card-uri si Aplicatii  Birjoveanu Catalin, Informatica, anul 3 </option>
          <option value="Specificarea si verificarea sistemelor distribuite">Specificarea si verificarea sistemelor distribuite</option>
          <option value="Tehnici de ingineria limbajului natural">Tehnici de ingineria limbajului natural</option>
          <option value="Tehnici de programare e platforma Android">Tehnici de programare e platforma Android</option>
          <option value="Tehnologii Web">Tehnologii Web</option>
          <option> Topici speciale de programare .NET   Asiminoaei Ioan, Informatica, anul 3 </option>
        </select>


        <select id="Grupa" placeholder="Grupa">
          <option> Master ingineria sistemelor soft, anul 1 </option>
          <option> Master ingineria sistemelor soft, anul 2 </option>
          <option> Master lingvistica computationala, anul 1 </option>
          <option> Master lingvistica computationala, anul 2 </option>
          <option> Master optimizare computationala, anul 1 </option>
          <option> Master optimizare computationala, anul 2 </option>
          <option> Master sisteme distribuite, anul 1 </option>
          <option> Master sisteme distribuite, anul 2 </option>
          <option> Master securitatea informatiei, anul 1 </option>
          <option> Master securitatea informatiei, anul 2 </option>

          <option> Informatica, anul 1A, grupa 1 </option>
          <option> Informatica, anul 1A, grupa 2 </option>
          <option> Informatica, anul 1A, grupa 3 </option>
          <option> Informatica, anul 1A, grupa 4 </option>
          <option> Informatica, anul 1A, grupa 5 </option>
          <option> Informatica, anul 1A, grupa 6 </option>
          <option> Informatica, anul 1A, grupa 7 </option>

          <option> Informatica, anul 1B, grupa 1 </option>
          <option> Informatica, anul 1B, grupa 2 </option>
          <option> Informatica, anul 1B, grupa 3 </option>
          <option> Informatica, anul 1B, grupa 4 </option>
          <option> Informatica, anul 1B, grupa 5 </option>
          <option> Informatica, anul 1B, grupa 6 </option>

          <option> Informatica, anul 1E, grupa 1 </option>
          <option> Informatica, anul 1E, grupa 2 </option>

          <option> Cursanti, anul 1, grupa 1 </option>
          <option> Cursanti, anul 1, grupa 2 </option>
          <option> Cursanti, anul 1, grupa 3 </option>
          <option> Cursanti, anul 1, grupa 4 </option>
          <option> Cursanti, anul 1, grupa 5 </option>

          <option> Informatica, anul 2A, grupa 1 </option>
          <option> Informatica, anul 2A, grupa 2 </option>
          <option> Informatica, anul 2A, grupa 3 </option>
          <option> Informatica, anul 2A, grupa 4 </option>
          <option> Informatica, anul 2A, grupa 5 </option>
          <option> Informatica, anul 2A, grupa 6 </option>
          <option> Informatica, anul 2A, grupa 7 </option>

          <option> Informatica, anul 2B, grupa 1 </option>
          <option> Informatica, anul 2B, grupa 2 </option>
          <option> Informatica, anul 2B, grupa 3 </option>
          <option> Informatica, anul 2B, grupa 4 </option>
          <option> Informatica, anul 2B, grupa 5 </option>
          <option> Informatica, anul 2B, grupa 6 </option>

          <option> Informatica, anul 2 Engleza1 </option>
          <option> Informatica, anul 2 Engleza2 </option>
          <option> Reinmatriculari, anul 2, grupa 1 </option>
          <option> Cursanti, anul 2, grupa 2 </option>

          <option> Informatica, anul 3A, grupa 1 </option>
          <option> Informatica, anul 3A, grupa 2 </option>
          <option> Informatica, anul 3A, grupa 3 </option>
          <option> Informatica, anul 3A, grupa 4 </option>
          <option> Informatica, anul 3A, grupa 5 </option>
          <option> Informatica, anul 3A, grupa 6 </option>
          <option> Informatica, anul 3A, grupa 7 </option>

          <option> Informatica, anul 3B, grupa 1 </option>
          <option> Informatica, anul 3B, grupa 2 </option>
          <option> Informatica, anul 3B, grupa 3 </option>
          <option> Informatica, anul 3B, grupa 4 </option>
          <option> Informatica, anul 3B, grupa 5 </option>
          <option> Informatica, anul 3B, grupa 6 </option>
          <option> Informatica, anul 3B, grupa 7 </option>

          <option> Informatica, anul 3 Engleza </option>
          <option> Reinmatriculari, anul 3 </option>
          <option> Cursanti, anul 3 </option>
        </select>


        <select id="Profesor" placeholder="Profesor">
          <option> Abacioaie Nicolae, Colab. </option>
          <option> Aioanei Dragos, Colab. </option>
          <option> Alboaie Lenuta, Conf. dr. </option>

          <option> Amariei Ciprian, Colab. </option>
          <option> Amazon, Colab. </option>
          <option> Anton Gabriel Dan, Colab. </option>
          <option> Apostolache Roxana, Lect. Dr. </option>
          <option> Armanu Nicoleta </option>
          <option> Artene Radu </option>
          <option> Arusoaie Andreea, Lect. Dr. </option>
          <option> Arusoaie Andrei, Lect. Dr. </option>
          <option> Asiminoaei Ioan, Lect. </option>
          <option> Balan Gheorghe, Colab. </option>
          <option> Benchea Razvan, Lect. dr. </option>
          <option> Birjoveanu Catalin, Lect.dr. </option>
          <option> Bogdan Ioana, Colab. </option>
          <option> Botezat Sorin, Asist. dr. </option>
          <option> Breaban Mihaela, Conf. dr. </option>
          <option> Buraga Sabin Corneliu, Conf.dr. </option>
          <option> Buraga Sabin Corneliu, Conf.dr. </option>
          <option> Buruiana Sebastian, Colab. </option>
          <option> Calancea Georgiana, Colab. </option>
          <option> Calcai Doru </option>
          <option> Captarencu Oana, Lect. dr. </option>
          <option> Carasievici Laura, Dr. </option>
          <option> Ciobaca Stefan, Conf. dr. </option>
          <option> Ciortuz Liviu, Conf.dr. </option>
          <option> Citea Alexandru, Colab. </option>
          <option> Coca Georgiana, Colab. </option>
          <option> Cojocaru Liliana, Colab. Dr. </option>
          <option value="Coman Alexandru">Coman Alexandru</option>

          <option> Condurache Rodica, Lect. Dr. </option>
          <option> Condurache Rodica, Colab. </option>
          <option> Craciun Vlad, drd. </option>
          <option> Cristea Dan, Prof.dr. </option>
          <option> Croitoru Cornelius, Prof.dr. </option>
          <option> Croitoru Eugen, Asist.dr. </option>
          <option> Cusmuliuc Ciprian, Colab. </option>
          <option> Danila Ionut </option>
          <option> Diac Mihai </option>
          <option> Diac Paul, drd. </option>
          <option> Dima Catalin, Colab. </option>
          <option> Enachescu Cristian, Colab. </option>
          <option> Forascu Corina, Conf.dr. </option>
          <option> Frasinaru Cristian, Lect.dr. </option>
          <option> Gabor Silviu, Colab. </option>
          <option> Gabriela Mesnita, Prof. Dr. </option>
          <option> Gatu Cristian, Conf. dr. </option>
          <option> Gavrilut Dragos, Conf. dr. </option>
          <option> Ghirvu Lucian, Lect.dr. </option>
          <option> Gifu Daniela, Cerc. Dr. </option>
          <option> Grigoras Gheorghe, Prof.dr. </option>
          <option> Grigoriu Alecsandru, Colab. </option>
          <option> Iacob Florin, Lect.dr. </option>
          <option> Iftene Adrian, Conf. dr. </option>
          <option> Iftene Sorin, Lect.dr. </option>
          <option> Ignat Anca, Lect.dr. </option>
          <option> Ionita Alexandru, Colab. </option>
          <option> Ionita Norbert </option>
          <option> Lacatusu Vlad </option>
          <option value="Leonte Mihai">Leonte Mihai</option>

          <option> Lucanu Dorel, Prof.dr. </option>
          <option> Luchian Henri, Prof.dr. </option>
          <option> Lupascu Marilena, Colab. </option>
          <option> Manolescu Catalin </option>
          <option> Masalagiu Cristian, Prof.dr. </option>
          <option> Miron Radu, Colab. </option>
          <option> Morosanu Dan, Colab. </option>
          <option> Moruz Alex, Lect.dr. </option>
          <option> Motroi Valeriu, Colab. </option>
          <option> Nica Anca-Maria, Asist. drd. </option>
          <option> Olariu Cristina, Colab. </option>
          <option> Olariu Florentin Emanuel, Lect. dr. </option>
          <option> Olariu Florin, Colab. </option>
          <option> Onica Emanuel, Lect. dr. </option>
          <option> Oniciuc Oriana, Colab. </option>
          <option> Onofrei Paula, Lect. dr. </option>
          <option> Onu Stefan, Colab. </option>
          <option> Oprea Dumitru, Prof. Dr. </option>
          <option> Panu Andrei, Asist. </option>
          <option> Patrut Bogdan, Lect. dr. </option>
          <option> Pavaloi Alexandru, Colab. </option>
          <option> Perez Cenel Augusto, drd. </option>
          <option> Pistol Ionut, Lect. dr. </option>
          <option> Policiuc A, Colab. </option>
          <option> Popoiu George, Colab. </option>
          <option> Popovici Paul </option>
          <option> Prelipcean Bogdan, drd. </option>
          <option> Radulescu Vlad, Lect.dr. </option>
          <option> Raschip Madalina, Conf. dr. </option>
          <option value="Rebeja Petru">Rebeja Petru</option>

          <option> Roxana Ghaitau, Lect. dr. </option>
          <option> Rusu Bogdan, Colab. </option>
          <option> Rusu Radu, Colab. </option>
          <option> Rusu Vlad, Colab. </option>
          <option> Simion Alin Ciprian </option>
          <option> Simion Emil, Colab. </option>
          <option> Simionescu Cristian, Colab. </option>
          <option> Spiridonica Alexandru, Colab. Dr. </option>
          <option> Talif Victor, Colab. </option>
          <option> Tatarusanu Florin </option>
          <option> Teodorescu Horia, Prof.dr. </option>
          <option> Tibu Mirela, Colab. </option>
          <option> Timcu Tudor, Colab. </option>
          <option> Tiplea Ferucio Laurentiu, Prof.dr. </option>
          <option> Trandabat Diana, Conf. dr. </option>
          <option> Ungureanu Ionut, Colab. </option>
          <option> Varlan Cosmin, Lect. dr. </option>
          <option> Varlan Simona-Elena, Asist. dr. </option>
          <option> Vidrascu Cristian, Lect.dr. </option>
          <option> Vitcu Anca, Conf. dr. </option>
          <option> Voicu Maria </option>
          <option> Yonder </option>
          <option> Zalinescu Adrian, Conf. dr.  </option>


        </select>


        <select list="Sala" placeholder="Sala">
          <!-- Alte sali -->
          <option> Acvariu </option>
          <option> B3 </option>
          <option> III-22 </option>
          <option> IV-13  </option>

          <!-- Cabinet -->

          <option> C507  </option>

          <!-- Laboratoare -->

          <option> C210 </option>
          <option> C401 </option>
          <option> C403 </option>
          <option> C405 </option>
          <option> C409 </option>
          <option> C411 </option>
          <option> C412 </option>
          <option> C413  </option>

          <!-- Sali de curs -->

          <option> C112 </option>
          <option> C114 </option>
          <option> C2 </option>
          <option> C309 </option>

          <!-- Sali de seminar -->

          <option> C308 </option>
          <option> C901 </option>
          <option> C903 </option>
          <option> C905 </option>
          <option> C909 </option>
        </select>


  	   <button type="button">Examene</button>

	     <button type="button">Structura anului universitar</button>

      </from>
    </article>
    <article>

      <table>
        <thead>
          <tr bgcolor="#8080FF">

            <th> De la</th>
            <th> Pana la</th>
            <th> Disciplina</th>
            <th> Tip</th>
            <th> Profesor </th>
            <th> Sala</th>
            <th> Pachet</th>

          </tr>
        </thead>

        <tbody>

          {% if luni %}
          <tr>
              <td colspan="10" bgcolor="#CCCCFF">
                <b>Luni</b>({{ lista_ore.0 }} ore)
              </td>
          </tr>
          {% endif %}
          {% for rand in luni %}

          <tr>
            <td> {{rand.ora_inceput}}</td>
            <td> {{rand.ora_sfarsit}}</td>
            <td>{{rand.curs}}</td>
            <td>{{rand.tip}}</td>
            <td>{{rand.profesor}}</td>
              <td>{{rand.sala}}</td>

            <td align="center">1</td>
          </tr>

          {% endfor %}

          {% if marti %}
          <tr>
              <td colspan="10" bgcolor="#CCCCFF">
                <b>Marti</b>({{ lista_ore.1 }} ore)
              </td>
          </tr>
          {% endif %}
          {% for rand in marti %}

          <tr>
            <td> {{rand.ora_inceput}}</td>
            <td> {{rand.ora_sfarsit}}</td>
            <td>{{rand.curs}}</td>
            <td>{{rand.tip}}</td>
            <td>{{rand.profesor}}</td>
              <td>{{rand.sala}}</td>

            <td align="center">1</td>
          </tr>

          {% endfor %}

          {% if miercuri %}
          <tr>
              <td colspan="10" bgcolor="#CCCCFF">
                <b>Miercuri</b>({{ lista_ore.2 }} ore)
              </td>
          </tr>
          {% endif %}
          {% for rand in miercuri %}

          <tr>
            <td> {{rand.ora_inceput}}</td>
            <td> {{rand.ora_sfarsit}}</td>
            <td>{{rand.curs}}</td>
            <td>{{rand.tip}}</td>
            <td>{{rand.profesor}}</td>
              <td>{{rand.sala}}</td>

            <td align="center">1</td>
          </tr>

          {% endfor %}

          {% if joi %}
          <tr>
              <td colspan="10" bgcolor="#CCCCFF">
                <b>Joi</b>({{ lista_ore.3 }} ore)
              </td>
          </tr>
          {% endif %}
          {% for rand in joi %}

          <tr>
            <td> {{rand.ora_inceput}}</td>
            <td> {{rand.ora_sfarsit}}</td>
            <td>{{rand.curs}}</td>
            <td>{{rand.tip}}</td>
            <td>{{rand.profesor}}</td>
              <td>{{rand.sala}}</td>

            <td align="center">1</td>
          </tr>

          {% endfor %}

          {% if vineri %}
          <tr>
              <td colspan="10" bgcolor="#CCCCFF">
                <b>Vineri</b>({{ lista_ore.4 }} ore)
              </td>
          </tr>
          {% endif %}
          {% for rand in vineri %}

          <tr>
            <td> {{rand.ora_inceput}}</td>
            <td> {{rand.ora_sfarsit}}</td>
            <td>{{rand.curs}}</td>
            <td>{{rand.tip}}</td>
            <td>{{rand.profesor}}</td>
              <td>{{rand.sala}}</td>

            <td align="center">1</td>
          </tr>

          {% endfor %}

          {% if sambata %}
          <tr>
              <td colspan="10" bgcolor="#CCCCFF">
                <b>Sambata</b>({{ lista_ore.5 }} ore)
              </td>
          </tr>
          {% endif %}
          {% for rand in sambata %}

          <tr>
            <td> {{rand.ora_inceput}}</td>
            <td> {{rand.ora_sfarsit}}</td>
            <td>{{rand.curs}}</td>
            <td>{{rand.tip}}</td>
            <td>{{rand.profesor}}</td>
              <td>{{rand.sala}}</td>

            <td align="center">1</td>
          </tr>

          {% endfor %}

          {% if duminica %}
          <tr>
              <td colspan="10" bgcolor="#CCCCFF">
                <b>Duminica</b>({{ lista_ore.6 }} ore)
              </td>
          </tr>
          {% endif %}
          {% for rand in duminica %}

          <tr>
            <td> {{rand.ora_inceput}}</td>
            <td> {{rand.ora_sfarsit}}</td>
            <td>{{rand.curs}}</td>
            <td>{{rand.tip}}</td>
            <td>{{rand.profesor}}</td>
              <td>{{rand.sala}}</td>

            <td align="center">1</td>
          </tr>

          {% endfor %}

        </tbody>

      </table>

    </article>

  </section>

</body>

</html>

{% endblock %}