:root{
    --background-first: #1b1353;
    --background-second: #000428;
    --navbar:#030b3d;
    --color1-first:#1fd191;
    --color1-second:#0086aa;
    --color2-first:#f64abd;
    --color2-second:#ad3abd;
    --font: #ffffff;
    --font-family: 'Montserrat', sans-serif;  
}

/* :root{
    --background-first: {{user.personalise.background_first}};
    --background-second: {{user.personalise.background_second}};
    --navbar:{{ user.personalise.navbar_color }};
    --color1-first:{{ user.personalise.color1_first }};
    --color1-second:{{ user.personalise.color1_second }};
    --color2-first:{{ user.personalise.color2_first }};
    --color2-second:{{ user.personalise.color2_second }};
    --font: {{ user.personalise.font_color }};
    --font-family: {{ user.personalise.font_family }}; 
} */

@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600|Open+Sans:400,600');

*{
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}

body{
    min-height: 100vh;
    font-family: var(--font-family);
    font-weight: 600;
    background: radial-gradient(var(--background-first), var(--background-second));
}

.container-all{
    display:flex;
}

.navbar-inverse{
    z-index:101;
    top:0;
    position:sticky;
    background-color: var(--navbar);
    margin-bottom: 0px;
    font-family: var(--font-family);
    font-weight: 500;
}
.nav.navbar-nav li a {
    color: var(--font);
}

.nav.navbar-nav li a:hover {
    transition: 0.3s;
    background-color:var(--color2-first);
}

.navbar-inverse .navbar-nav>.active>a{
    background-color:var(--color2-first);
}
.navbar-inverse .navbar-nav>.active>a:hover{
    background-color:var(--color2-first);
}

.navbar-brand img{
    position: absolute;
    top:-3px;
    height: 60px;

}
.link{
    height:80px;
    width:45px;
}
.plus{
    height:45px;
    position:fixed;
    top:60px;
    right:10px;
    background-color:var(--color1-first);
    border-radius:50%;
    padding: 5px;
    transition: width 2s;
}
.link:hover .plus{
    border-radius:0px;
    height:80px;
    animation:button;
    animation-duration:0.3s;
    top:60px;
}

/*.link:hover  .add_board{*/
    /*display: block;*/
    /*visibility: visible;*/
    /*padding:10px;*/
    /*text-decoration:none;*/

    /*color:white;*/
    /*size: 30px;*/
    /*font-size: 20px;*/

    /*background-color:#1fd191;*/

    /*position:fixed;*/
    /*top:60px;*/
    /*right:90px;*/
    /*height:80px;*/
    /*width: 160px;*/
    /*animation: in 0.3s, show 0.3s ease-out 0.3s;*/
    /*text-align: center;*/
/*}*/

.add_board{
    display: none;
    visibility: hidden;
}

.filtru{
    top:50;
    position:fixed;
    width: 10%;
    height: 93vh;
    display: flex;
    flex-direction: column;
}

.filtru button{
    height: 20%;
    text-align: center;
    background-color: var(--navbar);
    color: var(--font);
    padding: 0.8em;
    border-style:none;
    font-size: 1em;
    margin: 0px;
}

.filtru .active{
    background-image: linear-gradient(to right,var(--color2-first) , var(--color2-second) );
}

.filtru button:hover{
    transition:0.5s;
    text-align: center;
    background-image: linear-gradient(to right,var(--color2-first) , var(--color2-second) );
    color:var(--font);
    padding: 1em;
    border-style:none;
    font-size: 1em;
   
}
.main{
    margin-left:150px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:0px 5%;
  
}

.card{
    width: 300px;
    height: 420px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    background-color:white;
    text-align: center;
    border-radius: 10px;
}


.card:nth-child(even) .top-container{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height:20%;
    background-image: linear-gradient(to right,var(--color2-first) , var(--color2-second) );
    padding: 5px;
    padding-top:10px;
}

.card:nth-child(even) .prof{
    font-family:'Open Sans', sans-serif;
    font-weight:600;

    padding-top:10px;
    padding-bottom: 10px;
    font-style: italic;
    font-size: 1.1em;
    font-weight: 600;
    color: var(--color2-first);
}

.card:nth-child(even) .descriere{
    border-top: 2px solid var(--color2-first);
    border-bottom: 2px solid var(--color2-first);
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    font-weight: 300;
    color: black;
    width: 100%;
    font-size: 1em;

}

.card:nth-child(even) .btn{
    margin-top:20px;
    font-family: var(--font-family);
    font-weight: 700;
    text-align: center;
    background-image: linear-gradient(to right,var(--color2-first) , var(--color2-second) );
    color: white;
    padding: 0.5em;
    border-style:none;
    font-size: 1em;
    width: 150px;
    height: 40px;
}
.card:nth-child(even) .btn:hover{
    margin-top:20px;
    font-family: var(--font-family);
    font-weight: 700;
    text-align: center;
    background-image: linear-gradient(to right,var(--color2-first) , var(--color2-second) );
    color: white;
    padding: 0.5em;
    border-style:none;
    font-size: 1em;
    width: 150px;
    height: 40px;
}
.card .box{
    width: 85%;
    margin: 0 auto;
}

.card .top-container{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height:20%;
    background-image: linear-gradient(to right,var(--color1-first) , var(--color1-second) );
    padding: 5px;
    padding-top:10px;
}

.card .top-container p{
  
    text-align: center;
    color: white;
    width:100%;
    margin:auto;
}

.card .titlu{
    width: 100%;
    font-family: var(--font-family);
    font-size: 1.4em;
    font-weight: 700;
    height: max-content;


}

 .an{
    font-size:1.1em;
}

 .prof{
    font-family:'Open Sans', sans-serif;
    font-weight:600;

    padding-top:10px;
    padding-bottom: 10px;
    font-style: italic;
    font-size: 1.1em;
    font-weight: 600;
    color: var(--color1-first);
}


.box .descriere{

    font-family:'Open Sans', sans-serif;
    font-weight:400;

    border-top: 2px solid  var(--color1-first);
    border-bottom: 2px solid  var(--color1-first);
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    font-weight: 300;
    color: black;
    width: 100%;
    font-size: 1em;

}

.btn{
    margin-bottom:20px;
    margin-top:20px;
    font-family: var(--font-family);
    font-weight: 700;
    text-align: center;
    background-image: linear-gradient(to right,var(--color1-first) , var(--color1-second) );
    color: white;
    padding: 0.5em;
    border-style:none;
    font-size: 1em;
    width: 150px;
    height: 40px;
    
   
}

.btn:hover{
    margin-top:20px;
    font-family: var(--font-family);
    font-weight: 700;
    text-align: center;
    background-image: linear-gradient(to right,var(--color1-first) , var(--color1-second) );
    color: white;
    padding: 0.5em;
    border-style:none;
    font-size: 1em;
    width: 150px;
    height: 40px;
    
}

.verified {
    visibility: hidden;
    display: none;
}

@media screen and (max-width: 800px) {
    .container-all{
        width:100%;
        display: flex;
        flex-direction: column; 
    }

    .filtru{
        z-index:100;
        position:sticky;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        
    }
    
    .filtru button{
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: var(--navbar);
        color: white;
        border-style:none;
        font-size: 10px;
        padding:0.5em;
        margin: 0px;
    }

    .filtru button:hover{
    
        background-image: linear-gradient(to right,var(--color2-first) , var(--color2-second) );
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 0.5em;
        color: white;
        border-style:none;
        font-size: 10px;
        margin: 0px;
      
       
    }
    .main{
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      
    }
}
