.container{
    width: 25%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.container :hover{
    background-color:#659df7;
    border-radius: 5px 30px 30px 5px;
}

.item-container{
    background-color: #92bbfc;
    height: 60px;
    border-radius: 5px 30px 30px 5px;
    text-align: center;
    margin: 5px auto;
    cursor: pointer;
    width: 75%;
}

.item{
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    padding: 5px 10px;
    font-weight: 600;
}

.item a:link{
    color: black;
}

.item a:visited{
    color: black;
}

.item a{
    text-decoration:none;
}

@media (max-width: 1180px){

    .item-container{
        height:80px;
    }

}

@media (max-width: 731px){

    .item-container{
        height:100px;
    width: 150px;
    }

}
